@model List<CustomerIndexViewModel>

@if(User.IsInRole("admin"))
{    
<a class="btn btn-dark mb-3" asp-controller="Customer" asp-action="Create"><i class="fa fa-user-plus"></i></a>
}

<form class="mb-3" method="get">
    <div class="d-flex">
        <input class="form-control me-3" type="text" name="Search" value="@ViewBag.Search"/>
        <button class="btn btn-dark btn-sm">Go</button>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Nombre de commandes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Ref</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.NbOrders</td>
                <td>
                    @if(User.IsInRole("admin"))
                    {     
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Ref">
                            <i class="fa fa-trash"></i>
                        </a>
                    }
                    @if(User.IsInRole("admin") || User.IsInRole("seller"))
                    {
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Ref">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
